body{
    background-color: white
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon_envelope{
    margin-left: 0%;
    height: 100%;
    width: 100%;
    height: 100%;
    background: url('/assets/bg3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 18%;
}

.event_envelope{
    margin-top: 100%;
    margin-left: 10%;
    height: 240px;
    width: 200px;
    box-shadow: 0px 2px 20px 8px #f1f2f6;
    z-index: 999;
}
.event_envelope:hover{
    animation: zoom 200ms forwards;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.event_details{
    height: 100%;
    width: 100% ;
}
.event_img{
    margin-left: 29%;
    margin-top: 20%
}
.event_text{
    text-align: center;
    margin-top: 25%;
}

h5{
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
h3{
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 8%;
}
.upcoming_events_envelope{
    width: 100%;
    height: 100%;
    background: #3d3d3d;
    padding-bottom: 5%;
}
.technical_events_envelope{
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  margin-top: 0%;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
            
.timeline {
  width: 100%;
  height: 100px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;      
  justify-content: center;    
}

.timeline .events {
  position: relative;
  background-color: #606060;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  margin: 5em 0;
 }

.timeline .events ol {
  margin: 0;
  padding: 0;
  text-align: center;
}

.timeline .events ul {
  list-style: none;
}

.timeline .events ul li {
  display: inline-block;
  width: 24.65%;
  margin: 0;
  padding: 0;
}

.timeline .events ul li a {
  font-family: 'Arapey', sans-serif;
  font-style: italic;
  font-size: 1.25em;
  color: #606060;
  text-decoration: none;
  position: relative;
  top: -32px;
}

.timeline .events ul li a:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  right: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #606060;
  background-color: #fff;
  transition: 0.3s ease;
  transform: translateX(-50%);
}

.timeline .events ul li a:hover::after {
  background-color: #194693;
  border-color: #194693;
}

.timeline .events ul li a.selected:after {
  background-color: #194693;
  border-color: #194693;
}
  