body{
    background-color: white
}
.intro_envelope{
    margin-left: 0%;
    height: 100%;
    width: 100%;
    margin-bottom: 17%;
    background: url('/assets/bg3.png');
    background-repeat: repeat;
    background-size: 100%;
    
    
    
}
.intro_img{
    position: absolute;
    top: 18%;
    left: 55%;
    backface-visibility: visible;
    transition: none 0s ease 0s;

}
.club_element{
    
    align-self: left;
    margin-top: 20%;
    padding-bottom: 25%;
    margin-left: 10%;    
}

h2{
    color: black;
    text-shadow: 1px 1px #2f3542;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 70px;
}


.tagLine{
    width: 27%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
.aboutTeam{
    position: absolute;
    background-color: #3d3d3d;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.carousel_element{
    position: absolute;
    top: 30%;
    width: 60%;
    padding-bottom: 10%;
}
.team_desc{
    
    width: 100%;
    padding-top: 10%;
    color: #dfe4ea;  
    padding-top: 20%;
    padding-bottom: 25%;
    
}
.event_element{
    margin-top: 32%;
    background: url("/assets/bg4.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.card-element{
    margin-left: 0%;
    
}

.card{
    width: 80%;
    height: 40%;
    border-radius: 0px;
    border: none;
    margin-left: 35%;
}
.card-body{
    border: 1px solid #dfe4ea;
    
    background-color: white;
    
}
.actions{
    margin-top: -10%;
    background-color: transparent;
    border: none;
    z-index: 999;
}
.down_icon{
    position: absolute;
    margin-left: 42%;
    color: white;
}
#card_desc{
    display: none;
}
.card-title{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 10%;
}
.card-text{
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
}
.card-action{
    margin-top: 0%;
    text-align: center;
}
.img1{
    position: absolute;
    margin-top: 5%;
    transform: rotate(45deg);
    animation: movementx 2s forwards;
}
.animate{
    animation: slidein 200ms forwards;
}
@keyframes slidein{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
@keyframes movementx{
    0%{
        transform: translateX(0);
        transform: translateY(0);
    }
    50%{
        transform: translateX(100);
        transform: translateY(100);
    }
    100%{
        transform: translateX(0);
        transform: translateY(0);
    }
}

.btn{
    margin-top: 2%;
    background-color: #192a56;
    border: none;
}
.flip-card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #2f3640 ;
    color: #f5f6fa;
    transform: rotateY(180deg);
  }